.box-slider {
    position: relative;
    padding: 50px 0 37px;
    font-weight: 700;
    font-size: 30px;
    line-height: calc(46/38);

    @media (min-width: 768px) {
        font-size: 38px;
    }

    @media (min-width: 1200px) {
        padding: 80px 0 30px;
    } 

    &__slider {
        display: flex;
        justify-content: center;
        height: 1087px;

        @media (min-width: 440px) {
            height: 980px;
        } 

        @media (min-width: 500px) {
            height: 950px;
        } 

        @media (min-width: 768px) {
            height: 930px;
        } 

        @media (min-width: 992px) {
            height: 574px;
        }

        @media (min-width: 1400px) {
            height: 344px;
        }

        .slides {
            position: absolute;
            width: 100%;
            max-width: 635px;
            max-height: 1087px;
            background: $light-grey;
            border-radius: 12px; 
            overflow: hidden; 
            opacity: 0;
            z-index: 0;
            transform: scale(1);
            transition: transform ease-in-out $fast-speed, opacity ease-in-out $fast-speed;

            @media (min-width: 768px) {
                width: 90%;
                max-width: 680px;
            } 

            @media (min-width: 992px) {
                width: 100%;
                display: flex;
                align-items: center;
                height: inherit;
                max-width: 1100px;
            }

            @media (min-width: 1400px) {
                max-width: 1320px;
                width: inherit;
            }

            &__visual {
                @media (min-width: 992px) {
                    width: 50%;
                    overflow: hidden;
                }

                @media (min-width: 1400px) {
                    width: 400px;
                    overflow: hidden;
                }
                
                img {
                    width: 700px;
                    height: 500px;

                    @media (min-width: 992px) {
                        width: 528px;
                        height: 574px;
                    } 

                    @media (min-width: 1400px) {
                        width: 100%;
                        height: auto;;
                    }
                }
            }
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;                
                height: 587px;
                min-width: 320px;
                padding: 30px 32px;

                @media (min-width: 440px) {
                    height: 485px;
                } 

                @media (min-width: 500px) {
                    height: 450px;
                } 

                @media (min-width: 768px) {
                    height: 435px;
                } 

                @media (min-width: 992px) {
                    width: 50%;
                    height: 574px;
                } 

                @media (min-width: 1400px) {
                    width: 920px;
                    height: 344px;
                    padding: 30px;
                } 
            }
            &__title {
                h3 {
                    padding: 0 0 5px;
                }
            } 

            &__text {
                max-height: 405px;
                word-break: break-word;

                @media (min-width: 440px) {
                    max-height: 335px;
                } 
                
                @media (min-width: 500px) {
                    max-height: 276px;
                } 

                @media (min-width: 768px) {
                    max-height: 280px;
                } 

                @media (min-width: 992px) {
                    max-height: 410px;
                }

                @media (min-width: 1400px) {
                    max-height: 184px;
                }
            } 

            &__name {
                font-weight: 400;
                font-size: 14px;
                line-height: calc(22/14);
                color: $light-name;

                h4 {
                    font-size: 16px;
                    line-height: calc(20/16);                    
                }

                p {
                    margin: 6px 0 0;
                }
            } 
        }  
    }  
    &__controls {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);        

        label {
            cursor: pointer;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0 4px;
            position: relative;
            background: $bright-blue;
            opacity: 0.2;
            border-radius: 50%;

            @media (min-width: 1400px) {
                margin: 0 2px;
            }
        } 

        @media (min-width: 1400px) {
            padding: 7px 0 0;
        }         
    } 

    #slide1:checked ~ &__slider > .slide1,
    #slide2:checked ~ &__slider > .slide2,
    #slide3:checked ~ &__slider > .slide3 {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
    }
    
    label:hover, 
    #slide1:checked ~ &__controls label:nth-of-type(1),
    #slide2:checked ~ &__controls label:nth-of-type(2),
    #slide3:checked ~ &__controls label:nth-of-type(3) {
        opacity: 1;
    }    
}