.light {
    position: relative;

    a,
    address {
        color: $light-name;
    }

    span {
        color: $title-brand;
    }
}

.header-panel {
    &--height {
        @media (min-width: 768px){
            padding: 50px 0 60px;
        }
    }

    &__box {
        &--light {
            @media (max-width: 767px) {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &__language {
        &--light {
            >li {
                &:hover {
                    background: $light-grey;  
                    border-radius: 8px;    
                }  
            }
        }
    }

    &__contacts {
        .grey {
            .icon-facebook:before {
                content: "\e902";
                color: $light-name;
                font-size: 24px;
            }
        }
    } 

    &__menu {
        &--blue {
            >li {
                a {
                    color: $bright-blue;
                    &:hover {
                        color: $bright-blue;
                    }
                    
                    &:hover:after {
                        background-color: $bright-blue;
                    }  
                    
                    &.active:hover {
                        color: $pink
                    }
                }
            }
        }                
    }
}