$white: #fff;
$dark-blue: rgba(50, 50, 100, 1);
$blue-bar: #43436f;
$title-brand: #323264;
$bright-blue: #24A3FF;
$light-blue: #e6e6f0;
$info-contact: #EDEDF7;
$light-name: #B3B3BA;
$border: rgba(255, 255, 255, 0.3);
$border-card: rgba(255, 255, 255, 0.5);
$border-poster: #ffffff55;
$light-grey: #F5F5FA;
$grey: rgba(255, 255, 255, 0.2);
$pink: #F0145A;
$brand-one: #1C4280;
$brand-two: #143646;
$brand-three: #F48B30;
$brand-four: #9E4DC3;
$brand-five: #FD9339;
$brand-six:  #E2E2E4;
$brand-seven: #C71C36;
$brand-eight: #DCF3F9;
$brand-nine: #EAEAEA;
$brand-ten: #282240;
$brand-eleven: #1D4568;
$brand-twelve: #000;
$box-shadow: rgba(36, 163, 255, 0.5);
$box-shadow-grey: #868484;
$border-shadow: #252d45;
$btn-hover: #0085FF;
$btn-active: #006CCF;
$footer-a: #46466E;
$text-gradient: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$background-gradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$shadow-one: #CACADB;
$shadow-two: #E7E7F2;
$faster-speed: .3s;
$fast-speed: .5s;
$speed: .8s;